    
#footer 
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    color: white
    height: 100%
    width: 100vw
    position: relative
    bottom: 0
    margin-top: auto

.footer-row
    display: flex
    flex-direction: row
    justify-content: space-evenly
    align-items: center
    width: 100%
