@import '/../../variables.sass'
    
.card 
    border: solid 3px
    border-radius: 10px
    margin: $card-margin $card-margin 0 
    box-shadow: 0 8px 6px -6px black 
    box-sizing: border-box 
    display: flex 
    align-items: center 
    justify-content: space-around
    align-content: space-around 
    max-height: 100% 
    padding: 10px
    background-color: white
    flex: 20%

.card-icon  
    max-height: 40vh
    // max-width: 40%
    margin-right: auto
    height: auto 
    border-radius: 10px
    
.cardText
    padding: 15px   
    width: 80%
  
// .preview  
//     margin-left: 3px 
//     font-size: 1.2rem 
//     text-align: center 
//     font-family: 'Red Hat Display', sans-serif 
//     font-weight: 700 

hr  
    border: 3px solid  
    border-radius: 3px  

.content  
    // display: none 
    text-align: left 
    letter-spacing: 50% 
    line-height: 1.5em 


.card-title  
    font-size: 1.3rem 
    font-weight: bold 
    font-family: 'Red Hat Display', sans-serif 
    text-align: center
 
