@import "./footer/footer.component.sass"
    
#page-wrapper
    min-height: calc(100vh - $footer-height)
    display: flex
    flex-direction: column
    align-content: flex-start
    align-items: center
    