@import '/../../variables.sass'
    
#deck
    //----FELXBOX LAYOUT-----
    // display: flex   
    // justify-content: center
    // align-items: center
    // flex-flow: row wrap

    //------GRID LAYOUT------
    // display: grid
    // grid-template-columns: repeat(3, 1fr)
    // grid-column-gap: $card-margin
    // margin: $card-margin

    //----MASONRY LAYOUT----
    column-count: 2
    margin: $card-margin
    column-gap: $card-margin

    & > * 
        // display: inline-block

@media only screen and (min-width: 601px)
    #deck
        // grid-template-columns: repeat(2, 1fr)
        column-count: 2

        
        &.work, 
        &.education 
            column-count: 1

    .it-skills
        grid-template-columns: 1fr 1fr 1fr
        grid-template-rows: repeat(3, auto)

        // & > *
        //     background-color: red
        //     grid-area: 1 / 1 / span 1 / span 1
        
        // & > card + card
        //     grid-area: 2 / 1 / span 1 / span 1

        // & > card + card + card 
        //     grid-area: 1 / 1 / span 3 / span 1

        // & > card + card + card + card
        //     grid-area: 3 / 1 / span 1 / span 1

        

@media only screen and (max-width: 600px)
    #deck
        // grid-template-columns: repeat(1, 1fr)
        column-count: 1
        
        